.fade {
  transition: opacity 300ms ease-in-out, transform 5000ms ease-in-out, max-height 2000ms ease-in-out;
  overflow: hidden; /* Ensure smooth height transition */
}

.fade.hide {
  opacity: 0.5;
}

.fade.show {
  opacity: 1;
}
